<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense App</title>
</head>
<body>
    <form action="/add-expense" method="POST" id="form">
        <label for="expense-amount">Choose Expense Amount:</label>
        <input type="number" name="expenseAmount" id="expense-amount">
        <label for="desc">Choose Description:</label>
        <input type="text" name="desc" id="desc">
        <select name="category" id="category"> Chhose A Category:
            <option value="food">Food</option>
            <option value="petrol">Petrol</option>
            <option value="salary">Salary</option>
            <option value="education">Education</option>
        </select>
        <button type="submit">Add Expense</button>
    </form>
    <button type="submit" id="rzp-btn">Buy Premium Membership</button>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>

<script>
    const form=document.querySelector('#form');
    const expenseAmount=document.querySelector('#expense-amount');
    const desc=document.querySelector('#desc');
    const category=document.querySelector('#category');
    const rzpBtn=document.querySelector('#rzp-btn');
    let ul=document.createElement('ul');
    document.body.appendChild(ul);

    async function getExpenses(){
        let token=localStorage.getItem('token');
        console.log(token);
      let response=await axios("http://localhost:800/show-expense",
      {
         headers: {
    'Authorization': token,
  }});
  console.log(response.data.headers);
      let data=response.data;
      console.log(data);
      return data;
    }

    async function postExpenses(){
        const token=localStorage.getItem('token');
        const obj={
            expenseAmount:expenseAmount.value,
            desc:desc.value,
            category:category.value
        }
        let response=await axios.post("http://localhost:800/add-expense",obj,{headers:{"Authorization":token}});
        console.log(response);
        let data=response.data[response.data.length-1];
        return data;
    }

    async function postAddProduct(e){
        e.preventDefault();
        let data=await postExpenses();
        let li=document.createElement('li');
        li.innerText=`${data.expenseAmount}-${data.desc}-${data.category}`;
        let deleteBtn=document.createElement('button');
        deleteBtn.setAttribute('id',`${data.Id}`);
        deleteBtn.textContent="Delete Expenses"
        li.appendChild(deleteBtn);
        ul.appendChild(li);

        async function deleteHandler(){
            const token=localStorage.getItem('token')
            let response=await axios.delete(`http://localhost:800/delete-expense/${deleteBtn.id}`,{headers:{"Authorization":token}});
            console.log(response);
            let id=document.getElementById(`${response.data.expense.Id}`)
            console.log(id);
            let parent=id.parentElement;
            let superParent=parent.parentElement;
            superParent.removeChild(parent);
            alert(`${response.data.message}`);
        }
        deleteBtn.addEventListener('click',deleteHandler)
        
    }

    function createList(){
        let li=document.createElement('li');
        let deleteBtn=createDeleBtn();
        ul.appendChild(li);
        return li;
    }

    function createDeleBtn(){
        let deleteBtn=document.createElement('button');
        deleteBtn.textContent="Delete Expense";
        return deleteBtn;
    }
    
    async function getAddProduct(){
      let data=await getExpenses();
      data.forEach(element => {
        let li=createList();
        li.innerText=`${element.expenseAmount}-${element.desc}-${element.category}`;
        let deleteBtn=createDeleBtn();
        deleteBtn.id=element.Id;
        li.appendChild(deleteBtn);

        async function deleteHandler(){
            let token=localStorage.getItem('token');
            let response=await axios.delete(`http://localhost:800/delete-expense/${deleteBtn.id}`,{headers:{"Authorization":token}});
            console.log(response);
            let id=document.getElementById(`${response.data.expense.Id}`)
            console.log(id);
            let parent=id.parentElement;
            let superParent=parent.parentElement;
            superParent.removeChild(parent);
            
        }
        deleteBtn.addEventListener('click',deleteHandler)
        
         });
         
    console.log(data);
    }
    async function rzpHandler(e){
        var token=localStorage.getItem('token');
        const response=await axios("http://localhost:800/purchase/premiumMembership",{headers:{"Authorization":token}})
        console.log(response.data);
        let options={
            "key":response.data.key_id,
             "orderId":response.data.data.id,
             "amount": "50000",
             "handler":async function(response){
               let ans=await axios.post("http://localhost:800/updatemembership",{
                order_id:options.orderId,
                payment_id:response.razorpay_payment_id
               },{headers:{"Authorization":token}})
               
               alert("You are a premium user now")
               let parent=rzpBtn.parentElement;
               parent.removeChild(rzpBtn);
             }
        }
      var rzp1=new Razorpay(options);
     rzp1.open();
     e.preventDefault();
     rzp1.on('payment failed',function(response){
        console.log(response);
     })   
    }
    window.addEventListener('DOMContentLoaded',getAddProduct);
    form.addEventListener('submit',postAddProduct);
    rzpBtn.addEventListener('click',rzpHandler)
</script>
</html>