<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <form action="/password/forgot-password" method="POST" id="form">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" required>
            <button type="submit" id="send-mail">Send Mail</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="/js/forgot-password.js"></script>
</body>
</html>