<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/user/login" method="POST" id="form">
      <label for="email">Enter your email</label>
      <input type="email" name="email" id="emailLogin">
      <label for="password">Enter your Password</label>
      <input type="password" name="password" id="passwordLogin">
      <button type="submit" id="submit-btn">Login</button>
    </form>
    <span>New User??</span>
    <a href="http://localhost:800/">Sign Up</a>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script>
    const email=document.querySelector('#emailLogin');
    const password=document.querySelector('#passwordLogin');
    const form=document.querySelector('#form');

    async function submitHandler(e){
       e.preventDefault();
       const obj={
        email:email.value,
        password:password.value
       }
       let response=await axios.post("http://localhost:800/user/login",obj);
       console.log(response);
      
    //    try{
    //     let token=response.data.data.token
    //    }catch(err){
    //     alert(`The password does not exist`);
    //    }
       
       localStorage.setItem('token',response.data.data.token);
       let id=response.data.id;
       if(response.data.data.responseEmail.email === email.value){
        alert("User logged in sucessfully");
        window.location.href="http://localhost:800/expense";
       }/*else if(response.data ==="The email does not exist" || response.data ==="The pasword does not exist"){
        alert(`${response.data}`)
       }/*else{
        document.write(`${response.data}`)
       }*/
       else if(response.data.data.responseEmail.email !== email.value){
        alert(`The email does not exist`);
        
       }
    }

    form.addEventListener('submit',submitHandler);
</script>
</html>